
.team-container {
	position: absolute;
	top: 64px;
	bottom: 0;
	left: 0;
	right: 0;
	
	.loading {
		margin: auto;
	}
	
	.fill {
		flex: 1 1 auto;
	}
	
	.content {
		padding: 20px;
		
		> h1 {
			text-align: center;
		}
		
		.empty {
			font-size: 1em;
			color: #ffffff8f;
			background: #0000001a;
			border: 1px #0000000f solid;
			padding: 8px;
			border-radius: 8px;
			margin: auto;
		}
	}
	
	header {
		display: flex;
		
		> h1 {
			flex-grow: 1;
			padding-left: 8px;
		}
		
		> button {
			margin-bottom: 16px;
		}
	}
}

.team {
	max-width: 640px;
	margin: 80px auto 0;
	
	.add-pokemons {
		text-align: center;
	}

	.loading {
		margin: auto;
	}
}
