.app-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	
	.fill {
		flex: 1 1 auto;
	}
	
	.search {
		margin: 0 16px;
		background: rgba(0, 0, 0, 0.15);
		padding: 4px;
		border-radius: 4px;
		min-width: 320px;
		
		i {
			vertical-align: middle;
			padding: 0 4px;
		}
	}
	
	.hidden {
		display: none;
	}
}