.pokemon-list {
	min-width: 170px;
	
	h1 {
		text-align: center;
	}
	
	.item {
		outline: none;
	}
	
	.card {
		padding: 0;
	}
	
	.nav-list {
		height: 100vh;
		overflow: auto;
	}
	
	.spinner-wrapper {
		padding: 16px;
	}
	
	.spinner {
		margin: 0 auto;
	}
	
	.no-results {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 16px;
		text-align: center;
		color: #ffffff9c;
	}
}
