<div class="pokemon-list">
	<mat-card class="card">
		<mat-nav-list class="nav-list" infiniteScroll [scrollWindow]="false" (scrolled)="onScroll()">
			<mat-list-item class="item" *ngFor="let pokemon of pokemons" (click)="onItemClick(pokemon.id)">
				<img matListAvatar src="/assets/img/sprites/{{pokemon.id}}.png" alt="...">
				<h3 matLine>{{pokemon.name}}</h3>
			</mat-list-item>
		</mat-nav-list>
		
		<div *ngIf="!loading && pokemons.length === 0" class="no-results">
			No pokemons found for "{{searchQuery}}"
		</div>
		
		<div class="spinner-wrapper" *ngIf="loading">
			<mat-spinner class="spinner" diameter="44"></mat-spinner>
		</div>
	</mat-card>
</div>
